{# Payment info #}
{% if payment %}
  {% set payment_will_be_expired = (payment.orders | find(id=order.public_id)) | get('payment_will_be_expired') %}

  <div class="og-billing">
    <div class="og-footer-header">
      {{ 'shipment_unsent_footer_billing_header' | t }}
    </div>
    <div class="og-billing-details-container">

      {% if not 'cc_recycling_enabled' | setting %}
        {% if payment.is_expired %}
          <div class="og-payment-is-expired">
            {{ 'payment_is_expired' | t }}
          </div>
        {% elseif payment_will_be_expired %}
          <div class="og-payment-will-be-expired">
            {{ 'payment_will_be_expired' | t }}
          </div>
        {% elseif payment.is_expiring %}
          <div class="og-payment-is-expiring">
            {{ 'payment_is_expiring' | t }}
          </div>
        {% endif %}
      {% endif %}

      <div og-payment-id="{{payment.public_id}}">
        <span class="og-payment-type">{{ payment.cc_type }}</span>
        {% if payment.cc_number_ending %}
          <span class="og-payment-last-4">{{ 'form_billing_ending_in' | t }}</span>
        {% endif %}
      </div>
      <div class="og-payment-expiration-date">
        {% if payment.public_id %}
          <span class="og-exp-date">{{ 'form_billing_expiration_date' | t }}</span>
        {% endif %}
      </div>
    </div>{# /og-billing-details-container #}
    {% if 'external_payment_enabled' | setting %}
     <a class="og-link og-edit-payment" href="{{ 'external_payment_url' | setting }}">{{ 'shipment_unsent_footer_billing_edit' | t }}</a>
    {% endif %}
  </div>{# /og-billing #}
{% endif %}

{# Shipping info #}
{% if shipping_address %}
  <div class="og-shipping">
    <div class="og-footer-header">
      {{ 'shipment_unsent_footer_shipping_header' | t }}
    </div>
    <div class="og-shipping-address-container" og-address-id="{{shipping_address.public_id}}">
      <div class="og-address-name">{{ shipping_address.first_name }}
        {{ shipping_address.last_name }}</div>
      <div class="og-address-line-1">{{ shipping_address.address }}</div>
      <div class="og-address-line-2">{{ shipping_address.address2 }}</div>
      <div class="og-address-city-state-zip">
        {{ shipping_address.city }}, {{ shipping_address.state_province_code }}
        {{ shipping_address.zip_postal_code }}
      </div>
    </div>
    {% include 'change-shipment-address' %}
  </div>{# /og-shipping #}
{% endif %}
