
{# Order pricing details #}
<div class="og-total-table">
  <div class="og-footer-header og-desktop">{{ 'shipment_sent_price_total' | t }}</div>
  <table role="grid">
    <tr class="og-pricing-line og-shipment-discount-total">
      <th class="og-total-label" scope="row">{{ 'shipment_sent_price_autosave' | t }}</th>
      <td class="og-total-value">{{ order.discount_total | currency }}</td>
    </tr>
    <tr class="og-pricing-line og-shipment-sub-total">
      <th class="og-total-label" scope="row">{{ 'shipment_sent_price_subtotal' | t }}</th>
      <td class="og-total-value">{{ order.sub_total | currency }}</td>
    </tr>
    <tr class="og-pricing-line og-shipment-tax-total">
      <th class="og-total-label" scope="row">{{ 'shipment_sent_price_tax' | t }}</th>
      <td class="og-total-value">{{ order.tax_total | currency }}</td>
    </tr>
    <tr class="og-pricing-line og-shipment-shipping-total">
      <th class="og-total-label" scope="row">{{ 'shipment_sent_price_shipping' | t }}</th>
      <td class="og-total-value">{{ order.shipping_total | currency }}</td>
    </tr>
    <tr class="og-pricing-line og-shipment-total">
      <th class="og-total-label" scope="row">{{ 'shipment_sent_price_total' | t }}</th>
      <td class="og-total-value">{{ order.total | currency }}</td>
    </tr>
  </table>
</div>{# /og-total-table #}