<div class="og-pause-subscription-button">
  <a
    class="og-link"
    @click={{ 'show_closest_modal' | js }}
  >
    {{ 'pause_subscription_button' | t }}
  </a>
  <dialog aria-hidden="true">
    <form
      action="{{ 'pause_subscription' | action }}"
      @success={{ 'close_closest_modal' | js }}
      @reset={{ 'close_closest_modal' | js }}>
      <div class="og-dialog-header">
        <h5 class="og-dialog-title">{{ 'modal_pause_subscription_header' | t }}</h5>
        <button
          class="og-button og-button-close"
          type="reset"
          aria-label="{{ 'modal_close' | t }}"
        >
          {{ 'modal_close' | t }}
        </button>
      </div>{# /og-dialog-header #}

      <div class="og-dialog-body">
        <input type="hidden" name="order" value="{{order.public_id}}"/>
        <input type="hidden" name="subscription" value="{{subscription.public_id}}"/>
        <div>
          {{ 'modal_pause_subscription_body' | t }}
        </div>
        <br/>
        <input type="date" name="shipment_date" value="{{ order.place }}"/>
      </div>{# /og-dialog-body #}

      <div class="og-dialog-footer">
        <button class="og-button" type="submit" name="pause_subscription">{{ 'modal_pause_subscription_save' | t }}</button>
      </div>{# /og-dialog-footer #}
    </form>

  </dialog>
</div>{# /og-pause-subscription-button #}
